:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.center-box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.stash-details__progress {
  padding: 4px;
}

.stash-details__searchbar {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px;
  margin-right: 8px;

  mat-icon {
    margin: 0 8px;
  }

  input {
    border: 0;
    background-color: transparent;
    height: 30px;
    color: #fff;

    &:focus {
      outline: none;
    }
  }
}

.stash-details__searchbar__clear-input {
  cursor: pointer;
}

.stash-details__item-list__item {
  text-align: left;
}

.stash-details__item-list__item__stacks {
  min-width: 100px;
  text-align: right;
}

.stash-details__item-list__item__worth {
  min-width: 100px;
  text-align: right;
}

.stash-details__item-list__item__coords {
  min-width: 60px;
  text-align: center;
}

.stash-details__item-list__item__max-stack-size {
  color: rgba(0, 0, 0, 0.4);
}

.center-box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
