<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
  <button mat-menu-item (click)="clearCache()">Clear Cache</button>
  <button mat-menu-item (click)="openDevTools()">Open DevTools</button>
  <button mat-menu-item [matMenuTriggerFor]="leagueMenu" *ngIf="auth.leagues.length">League</button>
</mat-menu>

<mat-menu #leagueMenu="matMenu">
  <button mat-menu-item (click)="setLeague(league)" *ngFor="let league of auth.leagues">{{ league }}</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu" class="clear" *ngIf="auth.authorized">
  <mat-icon>more_vert</mat-icon>
</button>

<div class="spacer" style="-webkit-app-region: drag">
  {{ titleService.title }}
</div>
<button mat-icon-button aria-label="minimize" (click)="min()">
  <mat-icon>minimize</mat-icon>
</button>
<button mat-icon-button aria-label="maximize" (click)="max()">
  <mat-icon>settings_overscan</mat-icon>
</button>
<button mat-icon-button aria-label="close" class="close" (click)="close()">
  <mat-icon>close</mat-icon>
</button>