:host {
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  height: 30px;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

:host > button {
  width: 45px !important;
  min-width: unset !important;
  height: 30px !important;
  min-height: unset !important;
  line-height: 30px !important;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);

  &.clear {
    background-color: transparent;
  }

  mat-icon {
    color: #fff;
    font-size: 18px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.close:hover {
    background-color: red;
  }
}
