:host {
  min-height: 200px;
  display: flex;
}

.item-details__section:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-right: 12px;
  padding-right: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-details__icon {
  width: 100px;

  img {
    display: none;
  }

  &.loaded img {
    display: initial;
  }

  button {
    margin-top: 24px;
  }
}

.item-details__data {
  min-width: 200px;
}

.item-details__data__data-set:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.item-details__data__data-set {
  width: 100%;

  &.center {
    text-align: center;
    justify-content: center;
  }
}

.item-details__listin__price {
  width: 80px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-right: 8px;
}