/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

[fxlayout="row"] {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
}

[fxlayout="column"] {
  display: flex !important;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

[fxflex="1"] {
  flex: 1;
  max-height: 100%;
  overflow: hidden;
}

[fxFill] {
  display: flex;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

html,
body {
  display: flex;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

body.overlay {
  padding: 24px;
  display: flex;
  justify-content: center;

  .hide-for-overlay {
    display: none !important;
  }
}