:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.center-box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.stash-list__list {
  overflow-y: auto;

  >* {
    min-height: 36px;
  }

  button {
    text-align: left;
    min-height: 36px;

    &.active {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.stash-list__list__color-indicator {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  border-radius: 4px;
}

.stash-list__list__item {
  &::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    content: " ";
    background: none no-repeat center / contain;
    vertical-align: top;
  }

  &.PremiumStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/premium-tab-icon.png?1600589048063');
  }

  &.CurrencyStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/currency-tab-icon.png?1600589047987');
  }

  &.MapStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/map-tab-icon.png?1600589048003');
  }

  &.DivinationCardStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/divination-tab-icon.png?1600589047987');
  }

  &.QuadStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/quad-tab-icon.png?1600589048063');
  }

  &.EssenceStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/essence-tab-icon.png?1600589047987');
  }

  &.FragmentStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/fragment-tab-icon.png?1600589047987');
  }

  &.UniqueStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/unique-tab-icon.png?1600589048079');
  }

  &.DelveStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/delve-tab-icon.png?1600589047987');
  }

  &.BlightStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/blight-tab-icon.png?1600589047987');
  }

  &.MetamorphStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/metamorph-tab-icon.png?1600589048063');
  }

  &.DeliriumStash::after {
    background-image: url('https://www.pathofexile.com/image/layout/stash/delirium-tab-icon.png?1600589047987');
  }
}

.stash-list__list__item__price {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
}